/* FONT GOES HERE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/* font-family: "Montserrat", sans-serif; */


/*===============================================================================================
    VARIABLES
===============================================================================================*/

:root{
    --DarkGrey: #191D1B;
    --CreamWhite: #FDFBF2;
    --DarkGreen: #2A6962;
    --DarkerGreen: #21514B;
    --LightGreen: #CCE8DD;
    --SS3: "Source Sans 3", sans-serif;
    --Mont: "Montserrat", sans-serif;
}


/*===============================================================================================
MAIN STYLING 
===============================================================================================*/


*, *::after, *::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--SS3);
    background-color: var(--CreamWhite);
}

.skills h2, .focusFront h2, .casesFront h2{
    font-family: var(--Mont);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
}

.skills h2, .casesFront h2{
    color: var(--CreamWhite);
}

/*===============================================================================================
    LANDING HEADER
===============================================================================================*/

.landingHeader{
    height: 92.5vh;
}

.frontVectorLeft{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    height: 75%;
    width: 60rem;    
}

.frontVectorRight{
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    /* height: 100%; */
    width: 65rem;   
}

.profileImg{
    bottom: 10%;
    right: 5%;
    position: absolute;
    z-index: 100;
    height: 45rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: var(--CreamWhite);
    border-radius: 50%;
    box-shadow: 0px 12px 15px var(--DarkerGreen);
}

.name{
    /* bottom: %; */
    font-size: 7rem;
    font-family: var(--Mont);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 3rem;
    margin: 0;
    position: relative;
}

/* BUBBLES
======================================================================================= */

.bubble1, .bubble2, .bubble3, .bubble4{
    background-color: var(--DarkerGreen);
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: var(--CreamWhite);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--Mont);
    position: absolute;
    box-shadow: 0px 12px 15px var(--DarkGreen);
    animation: float 6s ease-in-out infinite;
}

.bubble1{ 
    width: 10rem;
    position: absolute;
    top: 15%;
    left: 28%;
}

.bubble2{ 
    width: 15rem; text-align: center;
    position: absolute;
    top: 20%;
    left: 60%;
}

.bubble3{ 
    text-align: center;
    width: 15rem;
    position: absolute;
    top: 60%;
    left: 8%;
}

.bubble4{ 
    width: 11.5rem;
    position: absolute;
    top: 70%;
    left: 40%;
}

.bubbles {
    position: relative;
    width: 65%;
    height: 50vh;
    margin-bottom: 7rem;
    z-index: 100;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes floatHorizontal {
    0% { 
        transform: translateX(0); 
    }

    50% { 
        transform: translateX(10px); 
    }

    100% { 
        transform: translateX(0); 
    }
}


/* SKILLS
======================================================================================= */



.logoText{
    text-align: center;
    font-family: var(--Mont);

}

.skill{
    color: var(--CreamWhite);
    height: 6.5rem;
    height: 6.5rem;
    width: 17rem;
}

.skillsContainer{
    color: var(--CreamWhite);
    font-family: var(--Mont);
    font-size: 1rem;
    text-transform: uppercase;
    animation: scroll 40s linear infinite;
    display: flex;
    padding: 8rem 0;
    /* width: calc(17rem * 14); */

}

.skills{
    background-color: var(--DarkGrey);
    margin: auto;
    overflow: hidden;
    position: relative;
    
}

.skills::before, .skills::after {
    background: linear-gradient(to right, var(--DarkGrey) 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 20%;
    z-index: 2;
}

.skills::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.skills::before {
    left: 0;
    top: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}

/* FOKUS
======================================================================================= */

.focusFront{
    padding: 0 2rem 2rem 2rem;
}

.focusFront div:first-of-type{
    display: flex;
}

.focusFront ul{
    padding: 0;
}

.focusFront li{
    list-style: none;
    font-size: 1.2rem;
}

.focusFront li:last-child{
    list-style: none;
    font-size: 1.2rem;
    padding: 0 5rem 5rem 5rem;
}

.focusFront li:first-child{
    font-family: var(--Mont);
    font-size: 1.5rem;
    padding: 5rem 5rem 1rem 5rem;
}

.divLine{
    border-left: .15rem solid var(--DarkGreen);
    height: 20rem;
}


/* CASES
======================================================================================= */

.casesFront{
    background-color: var(--DarkGreen);
    color: var(--CreamWhite);
}

.caseFront, .case{
    display: flex;  
    padding: 8rem;
    justify-content: space-between;
}

.caseFront:nth-of-type(2){
    background-color: var(--DarkerGreen);
}

.case:nth-of-type(2){
    background-color: #e9ece5;
}

.caseFront div:first-child, .case div:first-child{
    display: flex;  
    flex-direction: column;
}

.casesFront h2, .cases h2{
    padding-top: 5rem;
}

.caseFront img, .case img{
    height: 28rem;
}

.caseFront h3{
    color: var(--LightGreen);
}

.case h3{
    color: var(--DarkerGreen);
}

.caseFront h3, .case h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    font-weight: 500;
    margin: 0;
    font-family: var(--Mont);
}

.caseFront p, .case p{
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

.caseFront ul, .case ul{
    padding: 2rem 0 0 0;
}

.caseFront li, .case li{
    margin: 0;
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.caseFront li span, .case li span{
    font-weight: 700;
}

.Btn{
    background-color: var(--LightGreen);
    text-decoration: none;
    color: var(--DarkerGreen);
    border-radius: 2.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    padding: .5rem;
    width: 14rem;
    text-align: center;
    margin-top: auto;
    border: none; 
}

.caseBtn2{
    background-color: var(--DarkGreen);
    color: var(--CreamWhite);
}

#npBtn{
    padding: 0 8rem 4rem 8rem;
    background-color: var(--DarkGreen);
}

#npBtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: .5rem;
    width: 20rem;
    color: var(--CreamWhite);
    border-radius: 5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

#npBtn a:hover i{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%   { 
        transform: translateX(0); 
    }

    50%  { 
        transform: translateX(20px); 
    }

    100% { 
        transform: translateX(0); 
    }
}


/*===============================================================================================
    CASES
===============================================================================================*/



/* CASE HEADER + TABS
======================================================================================= */

/* Style the tab */
.caseTab {
    overflow: hidden;
    background-color: var(--DarkGreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the buttons that are used to open the tab content */
.caseTab button {
    background-color: inherit;
    font-family: var(--Mont);
    color: var(--CreamWhite);
    text-transform: uppercase;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
.caseTab button:hover {
    background-color: #173834;
}
  
  /* Create an active/current tablink class */
.caseTab button.active {
    background-color: var(--DarkerGreen);
}

.caseHeader{
    background-color: var(--DarkGreen);
    padding: 2rem 20rem;
}
  

/* CASE INDIVIDUAL
======================================================================================= */

.caseContent {
  display: none;
  padding: 2rem 20rem;
}



/*===============================================================================================
    ABOUT
===============================================================================================*/

/*===============================================================================================
    CONTACT 
===============================================================================================*/

.contact{
    display: flex;
    justify-content: space-evenly;
}

.contact div{
    margin: 4rem 2rem;
    padding: 1rem;
}

.contact div h1{
    font-family: var(--Mont);
    font-size: 3rem;
    color: var(--DarkerGreen);
    margin-bottom: 5rem;
}

.contact li, .contact p{
    list-style: none;
    font-size: 1.5rem;
}

.contact li{
    padding: .5rem 0;
}

.contact li a{
    text-decoration: none;
    color: var(--DarkGrey);
}

.contact li a:hover{
    color: var(--DarkGreen);
    text-decoration: underline;
}

.contact li a i{
    padding-right: 1rem;
    color: var(--DarkGreen);
}

.contact ul{
    padding: 0;
    font-family: var(--SS3);
}

.contact form{
    /* background-color: #e9ece5; */
    box-shadow: 0px 0px 20px var(--LightGreen);
    font-family: var(--Mont);
    padding: 4rem;
    margin: 4rem;
}

.contact input, .contact textarea{
    border: none;
    width: 35rem;
    height: 2.5rem;
    margin: 1rem 0;
    transition: all .2s;
    background-color: #e9ece5;
}

.contact textarea{
    resize: vertical;
}

.contact #Besked{
    height: 10rem;
    padding-bottom: 8rem;
    word-wrap: break-word;
    word-break: break-all;
}

.contact input:focus-visible, .contact textarea:focus-visible{
    border-bottom: solid var(--DarkGreen);
    background-color: white;
    outline: 0;
}

#contactBtn{
    background-color: var(--DarkGreen);
    color: var(--CreamWhite);
    width: 15rem;
    font-size: 1.2rem;
    font-family: var(--SS3);
}




/*===============================================================================================
    NAV 
===============================================================================================*/

nav{
    background-color: var(--DarkGrey);
    padding: .5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    justify-content: center;
    gap: 4rem;
}

nav ul li a, nav ul li a:after, nav ul li a:before{
    text-decoration: none;
    color: var(--CreamWhite);
    text-transform: uppercase;
    transition: all .2s;
    position: relative;
}

#active a{
    font-weight: 700;    
}

#active a:before{
    position: absolute;    
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    content: '';
    background: var(--DarkGreen);
    height: .15rem;
}

nav ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: var(--CreamWhite);
    height: .15rem;
}

nav ul li a:hover:after {
    width: 100%;
  }

/*===============================================================================================
    FOOTER 
===============================================================================================*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--DarkGrey);
    color: var(--CreamWhite);
    padding: .5rem 2rem;
}

footer div a{
    color: var(--CreamWhite);
    padding-left: 2rem;
}

footer div a i{
    padding-right: .5rem;
}